.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5px 60px;
    position: fixed;
}

.logo-img {
    width: 150px;
    height: 75px;

    cursor: pointer;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: var(--grey);

    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    margin-right: 20px;

    transition: 0.2s;
}

.nav-link:hover {
    color: var(--orange);
}

.icon-whatsapp {
    margin-left: 10px;
}

.btn {
    background-color: var(--orange);
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    padding: 10px 30px;
    border: 0;
    border-radius: 20px;

    cursor: pointer;
}

.btn-header-mobile {
    display: none;
}

.btn-header:hover {
    background-color: var(--light-orange);
    border: 2px solid var(--light-orange);
}

.contact-banner {
    background-color: var(--green);
    background-image: url('/assets/images/background-image-about-page-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px 20px;

    
}

.contact-content {
    background-color: #FFF;
    color: var(--grey);
    width: 90%;
    padding: 50px 20px;
    margin-top: 80px;
    border-radius: 30px;
}

.title {
    color: var(--orange);
    font-size: 50px;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}

.icon {
    font-size: 30px;
    color: var(--orange);
    margin-bottom: 20px;
}