:root {
    --dark-orange: #FF3A00;
    --orange: #FF7900 ;
    --light-orange: #FF9F00;

    --dark-green: #14AA4B;
    --green: #10E85F;
    --light-green: #1FFF71;

    --dark-grey: #1E1F28;
    --light-grey: #6C6C73;
    --grey: #30343E;

    --white: #FFF;
    --background-white: #F2F2F2;
}

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5px 60px;
    position: fixed;
}

.logo-img {
    width: 150px;
    height: 75px;

    cursor: pointer;
}

.btn {
    background-color: var(--orange);
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    padding: 10px 30px;
    border: 0;
    border-radius: 20px;

    cursor: pointer;
}

.btn-header:hover {
    background-color: var(--light-orange);
    border: 2px solid var(--light-orange);
}

.banner-section {
    background-color: var(--dark-green);
    background-image: url("/assets/images/bakcground.png");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding-top: 270px 60px 0px 60px;
}

.title {
    color: var(--grey);

    font-size: 60px;
    font-weight: 700;
}

.title-banner {
    color: var(--white);

    padding-top: 140px;
    
    font-size: 70px;
    text-shadow: 4px 7px 7px #000;

}

.cards-banner {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    margin-top: 60px;
}

.card {
    background-color: var(--white);

    font-family: 'Poppins', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 350px;

    margin: 50px;
    margin-bottom: -150px;
    padding: 40px;
    border-radius: 20px;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-30px);
}

.subtitle {
    color: #FF9F00;
    font-size: 22px;
    margin-bottom: 10px;
}

.text {
    color: var(--dark-grey);
    font-weight: bold;
    margin-bottom: 20px; 
}

.vantages-section {
    background-color: var(--background-white);

    font-family: 'Poppins', sans-serif;

    display: flex; 
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding-top: 320px;
    padding-bottom: 30px;
}

.topics-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 60px;
}

.topic {
    text-align: center;
    padding: 30px;
}

.icon {
    color: #14AA4B;
    font-size: 50px;
    margin-bottom: 20px;
}

.testimonials-section {
    background: rgb(66,66,69);
    background: radial-gradient(circle, rgba(66,66,69,1) 0%, rgba(29,36,43,1) 79%);
    
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 60px;
}

.testimony-title {
    color: var(--white);
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    max-width: 980px;
    margin-top: 80px;
    padding: 30px 0px;

}

.testimonial-card {
    background-color: var(--background-white);

    width: 400px;
    height: 300px;
    padding: 60px 30px;
    border-radius: 60px 20px;

    text-align: center;
}

.icon-testimony {
    color: var(--orange);
    font-size: 150px;
    margin-top: -70px;
    margin-left: -270px;
    border-radius: 100px;
}

.banks-section {
    background-color: var(--background-white);

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}

.footer {
    background-color: var(--dark-green);

    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;

    width: 100%;
}
